body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigation ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px;
  width: 10%;
}

.navigation ul li,
.navigation ul li a{
  width: 100%;
  text-decoration: none;
  list-style: none;
}