@media only screen and (max-width: 1865px)
{
 .header-text{
  min-width: 1%;
  font-size: 1.4vw;
  letter-spacing: 2px;
  padding-bottom: 2rem;
 }
}

@media only screen and (max-width: 1355px){
 body, html{
  overflow-y: scroll; 

 }


 .header-text{
  font-size: 2rem;
   width: 50px;
   box-sizing: border-box;
   display: block;
   background: white;
   margin: 0 auto;
 }

#user-button:before{
 margin-right: 1.2%;
}

 .header-text{
  width: 100%;
  padding: 0.3rem;
  padding-left: 0.7rem;
 }

 .header{
   height: 45px;
   background: black;
 }

 .home-buttons-container button:hover,
.left-link:hover{
  font-size: 1.4rem;
  text-shadow: 1px 5px 15px black;
 }

 .profile-container, .home-main-container{
  grid-template-columns: 1fr;
  min-height: 50px;
  grid-template-rows: 1fr 9fr;
 }
 .home-container{
   margin-top: 0%;
 }
 .profile-left-container-header{
  height: 20px;
 }

 #user-button{
  margin: 0;
  margin-bottom: 22%;
  right: 2.98%;
  bottom: 0.5rem;
  position: relative;
 }

 .profile-left-container{
  border-width: 0px 0 2px 0;
  
 }
 .left-link{
  justify-self: stretch;
  margin-bottom: -3px;
 }
 .user-navbar{
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  margin-bottom: -3px;
 }

 .home-buttons-container{
  grid-template-columns: 1fr 1fr 1fr;
 }

 .home-left-container{
  padding-top: -5%;
  height: 62.5px;
 }
 .login-form{
   min-width: 300px;
   width: 80%;
 }

 .profile-right-container, .home-right-container{
  margin-top: 0;
 }

 .home-right-container{
   padding-top: 10%;
   width: 100vw;
   box-sizing: content-box;
   background: white;
 }

 .flashcard{
  width: 100%;
 }

 .modal.after-question{
   top: 45%;
   left: 0%;
 }
 
.question.study{
 
  width: 100%;
  box-sizing: border-box;
  padding: 0 1% 0 1%;
}

  .question-question.studycard{
    justify-self: center;
    width: 100%;
  }


}

@media only screen and (max-width: 1053px){

  .question{
    width: 100%;
    transform: scale(0.9)  ;
    -webkit-transform: scale(0.9)  ;
    -moz-transform: scale(0.9)  ;
    -ms-transform: scale(0.9)  ;
    -o-transform: scale(0.9)  ;
}
  .quizgame-buttons-container{
    width: 94%;
  }
 .flashcard-container{
  grid-template-columns: 1fr;
  width: 85%;
  grid-row-gap: 0.7%;
  margin-top: 3%;
 }


 .container-header.profile{
   padding: 0;
   text-align: center;
 }


 .view-quiz-header{
   margin-top: 3%;
   margin-bottom: -5rem;
 }

 .container-header.profile{
  grid-template-columns: 1fr;
 }
 .container-middle-header{
   width: 100%;
   bottom: 13%;
   position: relative;
  
 }
 .search-input{
   border-radius: 2px;
   box-shadow: none;
   box-shadow: inset 0px 1px 5px lightgrey;
}
  .searchbox-container{
    width: 100%;
    min-width: 250px;
    border-radius: 3px;
  }
  .searchbox-container::before{
    margin-left: -48%;
    margin-top: 1.6%;
  }
  .view-quiz-header{
    width: 80%;
  }
  .orderby-buttons-container{
    width: 80%;
  }
  .view-quiz-header p{
    margin-bottom: 5rem;
  }

  .orderby-buttons-container.studyquiz{
    margin-top: 8%;
  }
  .orderby-buttons-container.profile{
    margin-top: 7%;
  }

}

@media only screen and (max-width: 720px){
  .view-quiz-header h1{
    font-size: 4.5vw;
  }
  .view-quiz-header p{
    font-size: 3.8vw;
  }
  .addquestion-container{
    margin-top: 6%;
    width: 94%;
  }
  .view-quiz-header{
    margin-bottom: 0%;
  }

  .orderby-buttons-container.study{
    position: relative;
    bottom: 5rem;
  }

  .flashcard-container.study{
    bottom: 5rem;
    position: relative;
  }
  .modal{
    width: 90vw;
  }
  .container-header{
    padding: 0;
    text-align: center;
    line-height: 30px;
  }
  .container-header > h1{
    font-size: 5vw;
  }
  .modal.after-question{
    width: 90vw;
  }

  .orderby-buttons-container.studyquiz{
    margin-top: 0%;
  }

  .user-navbar.burger{
    grid-template-columns: 1fr;
    box-sizing: border-box;
    padding: 0.85rem 0 0 0.5rem;
  }

  .burger-menu{
    display: none;
    transition: 0.2s ease;
    grid-template-columns: 1fr;
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    animation: dropdown 1s ease-in forwards;
    -webkit-animation: dropdown 1s ease-in forwards;
}

  @keyframes dropdown {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  .burger-menu.dropped{
    display: grid;
    transition: 0.2s ease;
    margin-right: 1.5%;
  }
}



@media only screen and (max-width: 450px){
  .quiz-score-container{
    width: 100%;
    font-size: 8vw;
  }

  .home-left-container{
    padding: 1rem;
    height: 61px;
    border: #255eb3 solid;
    border-width: 5px 5px 5px 5px;
  }

  .orderby-buttons-container{
    width: 100%;
    padding: 0  0 0 12.5%;

  }

}