
/*Loading spinner styles */
.lds-spinner {
 color: official;
 display: inline-block;
 position: relative;
 width: 64px;
 height: 64px;
}
.lds-spinner div {
 transform-origin: 32px 32px;
 animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
 content: " ";
 display: block;
 position: absolute;
 top: 3px;
 left: 29px;
 width: 25px;
 height: 24px;
 border-radius: 20%;
 background: #255eb3;
}
.lds-spinner div:nth-child(1) {
 transform: rotate(0deg);
 animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
 transform: rotate(30deg);
 animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
 transform: rotate(60deg);
 animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
 transform: rotate(90deg);
 animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
 transform: rotate(120deg);
 animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
 transform: rotate(150deg);
 animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
 transform: rotate(180deg);
 animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
 transform: rotate(210deg);
 animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
 transform: rotate(240deg);
 animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
 transform: rotate(270deg);
 animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
 transform: rotate(300deg);
 animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
 transform: rotate(330deg);
 animation-delay: 0s;
}
@keyframes lds-spinner {
 0% {
   opacity: 1;
 }
 100% {
   opacity: 0;
 }
}
/*End Loading Spinner Styles */

/*Loading Container Styles */
.loading-container{
  height: 40vw;
  justify-content: center;
  align-content: center;
  display: grid;
}

.loading-container span{
  text-align: center;
  display: block;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}
/*End Loading Container Styles */

/*Modal styles */
.modal{
  background: white;
  border-radius: 8px;
  margin: 0 auto;
  color: black;
  width: 40rem;
  height: 20rem;
  font-size: 2rem;
  animation: fadeIn 0.3s ease-in;
  box-shadow: 2px 2px 7px darkgrey;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  z-index: 125;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.modal-header{
  background: #0c203d;
  border-radius: 8px 8px 0 0;
  color: white;
  text-align: center;
  padding: 1rem;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
}

.modal-content{
  text-align: center;
  margin-top: 15%;
}

.modal-buttons{
  display: grid;
  align-items: center;
  justify-items: end;
  padding: 1rem;
}
.modal-buttons button{
  padding: 1rem;
  border-radius: 5px;
  font-weight: bold;
  background: #0c203d;
  color: white;
}

.modal.after-question{
  position: fixed;
  z-index: 255;
  left: 15%;
  right: 0;
  height: 350px; width: 600px;
  top: 25%;
  border: none;

}
.modal.after-question button{
  background: none;
  color: black;

}
.modal-header.green{
  background: green
}
.modal-header.red{
  background: red;
}

.disabled{
  cursor: not-allowed;
  text-decoration: line-through;
}
.modal.after-question{
  grid-template-rows: 1fr 5fr 1fr;
}

.quizgame-buttons-container-button:hover{
  transform: scale(1.1);
  
}

.modal.after-question .modal-content{

}

.modal.after-question .modal-content span{
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

.modal.endgame-dnd, .modal.startgame-dnd{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 255;
  margin-top: -161px;
  margin-left: -198px;
}

.modal.startgame-dnd{
  width: 290px;
  height: 300px;
  left: 60%;
  border: 1px #0c203d solid;
  border-width: 5px 0 5px 0;
}

.modal.startgame-dnd .modal-content{
  align-self: center;
  margin-bottom: 7%;
}
.modal-content label{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
.modal.startgame-dnd .modal-header{
  background: none;
  color: #0c203d;
}
.modal.startgame-dnd .modal-buttons{
  justify-self: end;
  grid-template-columns: 1fr 1fr;
}
.modal.startgame-dnd .modal-buttons button{
  background: none;
  width: 60px;
  color: #0c203d;
}
/* End Modal Styles */